*{
    box-sizing: border-box;
}
@font-face {
    font-family: gilroy-bold;
    src: url(font-gilroy/Gilroy-Bold.ttf); 
    
}
@font-face {
    font-family: gilroy-regular;
    src: url(font-gilroy/Gilroy-Regular.ttf);     
}
@font-face {
    font-family: gilroy-medium;
    src: url(font-gilroy/Gilroy-Medium.ttf); 
    
}
@font-face {
    font-family: gilroy-semibold;
    src: url(font-gilroy/Gilroy-SemiBold.ttf);
}
body{
    margin: 0;
    padding: 0;
    background-color: #151515;
    color: #ffffff;
    z-index: -1px;
}

/*Header*/

header{
    display: flex;
    background-color: #151515;
    height: 4rem;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 1;
}
header .z-logo{
   max-width: 8rem;
   margin-left: 6rem;
}
.navlinks{
    margin-right: 5rem;
}
.navlinks ul{
    display: inline-flex;
    margin: 0;
    padding: 0;
}
.navlinks ul li{
    padding: 0px 14px 0px 14px;
    list-style: none;
    padding-top: 0.5rem ;
    transition-duration: 0.5s;
}
.navlinks ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: gilroy-medium;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}
.navlinks ul li a:after{
    content: "";
    position: absolute;
    background-color:black;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
    display: hide;
}
.navlinks ul li a:hover::after{
   width: 100%;
   display: initial;
   background-color: #6E70FF;
}
header button{
    width: 98px;
    height: 38px;
    border-radius: 4px;
    background-color: #6E70FF;
    color: #ffffff;
    margin-right: 6rem;
    padding-left: 7px;
    cursor: pointer;
}
header button:hover{
    background-color: blueviolet;
}
header input{
    display: none;
}
header .menu-icon{
    width: 2rem;
}
label{
    display: none;
}
@media (max-width:812px){
    header{
        flex-direction: column;
        align-items: start;
    }
    header .z-logo{
        max-width: 8rem;
        margin-left: 3rem;
        margin-top: 1rem;
     }
    .navlinks {
        background-color:#151515;
        width: 100%;
        display: none;
        transition-duration: 0.5s;
        transition-property: all;
        transition-delay: inherit;
        
    }
    .navlinks ul {
        flex-direction: column;
        padding: 2rem; 
    }
    header button{
        margin-top: 1rem;
    }
    label{
    display: block;
    position: absolute;
    right: 2rem;
    margin-top: 1rem;
    }
    #menu:checked~.navlinks{
        display: initial;
       
    }
    
}

/*Header end*/

/* top-section */

.top-section{
    min-height: 40rem;
    top: 4rem;
    background-color: #151515;
    color: #ffffff;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-image: url(Svgs/lines\ bg.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.left-top-section{
    max-width: 50%;
    padding: 8rem 2rem 8rem 8rem;
}
.left-top-section h1{
    font-family: gilroy-bold;
    font-size: 32px;
    line-height: 150%;
}
.left-top-section  span{
    background-image: url(Svgs/Vector\ 202\ \(Stroke\).svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 6rem;
    background-position: bottom;
    padding: 5px;
}
.left-top-section p{
    font-family: gilroy-regular;
    font-size: 18px;
    line-height: 150%;
    color:  #B9B9B9;
}
.left-top-section button {
    width: 112px;
    height: 40px;
    background-color: #6E70FF;
    color: #ffffff;
    border-radius: 3px;
    border: none;
}
.left-top-section button:hover{
    background-color: blueviolet;
}
.right-top-section{
    max-width: 50%;
}
.right-top-section img{
   max-width: 85%;
   object-fit: cover;
   object-position: center;
   margin-top: 6.5rem;
   margin-bottom: auto;
   margin-left: auto;
   margin-right: auto;
   display: block;
   padding: 4%;
   background-image: url(Svgs/Ellipse\ 3.svg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}


@media (max-width:768px){
    .top-section{
        display: block;
    }
    .left-top-section{
        max-width: 100%;
        padding: 1rem 2rem 0rem 4rem;
    }
    .left-top-section h1{
        font-size: 25px;
  }
    .left-top-section p{
        font-size: 15px;
    }
    .right-top-section img{
        margin-left: 25%;
        margin-right: 20%;
        margin-top: 2rem;
        max-width: 150%;
    }
}
/*top-section end*/

/* services */ 
.services{
    position: relative;
    width: 100%;
    margin-top: 5rem;
}
.services hr{
opacity: 0.2;
}
.services-header{
    min-height: 12rem;
    text-align: center;
}
.services-header h2{
    font-family: gilroy-bold;
    padding-top: 2rem;
    font-size: 25px;
}
 .services-header h2::before {
    position: absolute;
    content: '';
    width: 19rem;
    height: 20px;
    background-image: url(Svgs/service-underline.svg);
    top: 4rem;
    background-position: center;
    background-size: cover;
    background-size: 13rem;
    background-repeat: no-repeat;
    } 
.services-header p{
    font-family: gilroy-regular;
    padding-top: 1rem;
    color: #B9B9B9;
    font-size: 20px;
    line-height: 150%;
}
.card-condainer{
    position: relative;
    height: 25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
}
.card-condainer .card{
    minheight: 20rem;
    max-width: 25rem;
    background-color: #2E2E2E;
    align-items: center;
    border-radius: 3px;
    padding: 2rem;position: relative;
    transition: linear;
    background-image: url("Svgs/svg2.svg");
    transition: transform .5s ease;
}
.card-condainer .card:hover{
    transform: scale(1.1);
}
.card-condainer .card img{
    width: 2.5rem;
}
.card-condainer .card h3{
    font-family: gilroy-semibold;
    color: #B9B9B9;
}  
.card-condainer .card p{
    font-family: gilroy-regular;
    color: #B9B9B9;
    line-height: 150%;
    font-size: 14px;
    margin-top: -0.5rem;
}
.card-condainer .card button{
    height: 2.5rem;
    width: 2.5rem;
    background-color: #6E70FF;
    border: none;
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    border-radius: 3px;
    cursor: pointer;
}
.card-condainer .card button:hover{
    background-color: blueviolet;
}
.card-condainer .card .img-arrow{
    width: 1rem;
    padding: 1px;
}

@media (max-width:768px){
    .services-header h2{
        font-size: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .services-header p{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 15px;
    }
    .services-header h2::before{
        top: 3.5rem;
        width: 15rem;
        background-size: 10rem;
    }
    .card-condainer{
        gap: 1rem;
    }
    .card-condainer .card{
        margin: 1rem;
    }
    
}
@media (max-width:300px){
    .services-header h2{
        font-size: 15px;
    }   
    .services-header h2::before{
        top: 3rem;
        width: 11rem;
        background-size: 10rem;
    }
}
